.attendance__csv-btn {
    text-align: right;
}

.btn-primary {
    padding: 10px 20px;
    margin: 20px 0;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 200px;
    font-size: 18px;
}

/* スマホサイズ（768px以下）の場合 */
@media (max-width: 767px) {
    .btn-primary{
        font-size: 18px;
        width: 130px;
        padding: 5px;
        margin: 10px 0;
    }
}