.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.header-utilities nav {
    width: 60%;
    font-size: 24px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

/* タブレットサイズ（768px〜850px）の場合 */
@media (min-width: 768px) and (max-width: 850px) {
    .header__inner {
        padding: 15px;
    }

    .header__logo {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .header__logo img {
        padding-top: 20px;
    }

    .header-utilities nav {
        width: 90%;
        margin: auto;
    }

    .header-nav__link {
        font-size: 20px;
    }

    .header-nav__button {
        font-size: 20px;
    }
}

/* スマホサイズ（768px以下）の場合 */
@media (max-width: 767px) {
    .header__inner {
        padding: 15px;
    }

    .header-utilities {
        align-items: center;
        gap: 10px;
    }

    .header__logo {
        font-size: 25px;
    }

    .header-utilities nav {
        width: 100%;
        text-align: center;
    }

    .header-nav {
        gap: 15px;
        align-items: center;
        margin: 0;
    }

    .header-nav__link {
        font-size: 15px;
    }

    .header-nav__button {
        font-size: 15px;
    }
}